{% extends "base.html" %}
{% block content %}
    <div class="home">
        <div class="home-text prose">{{ section.content | safe }}</div>
        {% if section.extra.profile_image %}
            <div class="home-photo">
                <img class="profile-img"
                     src="{{ get_url(path=section.extra.profile_image) }}"
                     alt="{{ config.author }}"
                     width="250"
                     height="250">
            </div>
        {% endif %}
    </div>
{% endblock content %}
